<dx-toolbar class="fundo">
  <dxi-item
    location="before"
    widget="dxButton"
    [options]="opcoesBotaoMenu">
  </dxi-item>
  <dxi-item location="center" text="Local Sense"></dxi-item>
</dx-toolbar>

<dx-drawer
  id="meu-drawer"
  [opened]="menuAberto"
  position="left"
  revealMode="expand"
  [closeOnOutsideClick]="true"
  template="menu"
  (onOptionChanged)="aoAlterarOpcaoDoMenu($event)">

  <!-- MENU LATERAL -->
  <div *dxTemplate="let data of 'menu'">
    <div class="menu-panel-content">

      <div *ngFor="let item of itensMenu">
        <div class="menu-item" (click)="item.subItens ? toggleExpand(item) : aoClicarItem(item)">
          <i class="dx-icon dx-icon-{{ item.icon }}"></i>
          <span class="menu-texto">{{ item.texto }}</span>
          <span *ngIf="item.subItens" class="seta">
            {{ item.expanded ? '▼' : '►' }}
          </span>
        </div>

        <div *ngIf="item.subItens && item.expanded" class="submenu">
          <div *ngFor="let sub of item.subItens" class="menu-subitem" (click)="aoClicarItem(sub, $event)">
            {{ sub.texto }}
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="view-panel-content">
    <router-outlet></router-outlet>
  </div>
</dx-drawer>
