.fundo {
  background-color: #0078d7;
  color: white;
}

#meu-drawer {
  height: calc(100vh - 56px);
  background-color: #f4f4f4;
}

.menu-panel-content {
  background-color: #f4f4f4;
  width: 250px;
  height: 100%;
}

.view-panel-content {
  padding: 20px;
  width: 100%;
  height: 100%;
}
