<div class="corpoTela">
  <div class="espaco">
    <div class="fundoCadastro">
      <form (ngSubmit)="logar()" #formEstabelecimentoLogar="ngForm" novalidate>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label class="cores">Email *</mat-label>
            <input matInput id="email" name="email" type="email"  [(ngModel)]="estabelecimento.email">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class="cores">Senha *</mat-label>
            <input matInput id="senha" name="senha" type="password"  [(ngModel)]="estabelecimento.senha">
          </mat-form-field>
        </div>

        <div class="button-container">
          <button mat-raised-button color="accent" type="submit">
            login
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

