<div class="fundo">
  <form (ngSubmit)="cadastrar()" #formEstabelecimento="ngForm" novalidate>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>CNPJ</mat-label>
      <input matInput id="cnpj" name="cnpj" type="text" required maxlength="18" [(ngModel)]="estabelecimento.cnpj">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nome/Estabelecimento</mat-label>
      <input matInput id="nome" name="nome" type="text" required [(ngModel)]="estabelecimento.nome">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput id="email" name="email" type="email" required [(ngModel)]="estabelecimento.email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput id="senha" name="senha" type="password" required [(ngModel)]="estabelecimento.senha">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>País</mat-label>
      <input matInput id="pais" name="pais" type="text" required [(ngModel)]="estabelecimento.pais">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Estado</mat-label>
      <input matInput id="estado" name="estado" type="text" required [(ngModel)]="estabelecimento.estado">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>CEP</mat-label>
      <input matInput id="cep" name="cep" type="text" required [(ngModel)]="estabelecimento.cep">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Cidade</mat-label>
      <input matInput id="cidade" name="cidade" type="text" required [(ngModel)]="estabelecimento.cidade">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Endereço</mat-label>
      <input matInput id="endereco" name="endereco" type="text" required [(ngModel)]="estabelecimento.endereco">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Complemento</mat-label>
      <input matInput id="complemento" name="complemento" type="text" [(ngModel)]="estabelecimento.complemento">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Telefone</mat-label>
      <input matInput id="telefone" name="telefone" type="tel" required [(ngModel)]="estabelecimento.telefone">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit"
            [disabled]="cadastroAndamento || formEstabelecimento.invalid">
      Cadastrar
    </button>

  </form>
</div>
