<div class="corpoTela">
  <div class="espaco">
    <div class="fundoCadastro">
      <form (ngSubmit)="cadastrar()" #formEstabelecimento="ngForm" novalidate>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label class="cores">CNPJ *</mat-label>
            <input matInput id="cnpj" name="cnpj" type="text"  maxlength="18" mask="00.000.000/0000-00"
                   placeholder="00.000.000/0000-00" [(ngModel)]="estabelecimento.cnpj">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class="cores">Nome/Estabelecimento *</mat-label>
            <input matInput id="nome" name="nome" type="text"  [(ngModel)]="estabelecimento.nome">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label class="cores">Email *</mat-label>
            <input matInput id="email" name="email" type="email"  [(ngModel)]="estabelecimento.email">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class="cores">Senha *</mat-label>
            <input matInput id="senha" name="senha" type="password"  [(ngModel)]="estabelecimento.senha">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label class="cores">País *</mat-label>
            <input matInput id="pais" name="pais" type="text"  [(ngModel)]="estabelecimento.pais">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class="cores">Estado *</mat-label>
            <input matInput id="estado" name="estado" type="text"  [(ngModel)]="estabelecimento.estado">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label class="cores">CEP *</mat-label>
            <input matInput id="cep" name="cep" type="text"  mask="00000-000" placeholder="00000-000"
                   [(ngModel)]="estabelecimento.cep">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class="cores">Cidade *</mat-label>
            <input matInput id="cidade" name="cidade" type="text"  [(ngModel)]="estabelecimento.cidade">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label class="cores">Endereço *</mat-label>
            <input matInput id="endereco" name="endereco" type="text"  [(ngModel)]="estabelecimento.endereco">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class="cores">Complemento</mat-label>
            <input matInput id="complemento" name="complemento" type="text" [(ngModel)]="estabelecimento.complemento">
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="centered-field">
          <mat-label class="cores">Telefone *</mat-label>
          <input matInput id="telefone" name="telefone" type="tel"  mask="(00) 0 0000-0000"
                 placeholder="(00) 0 0000-0000" [(ngModel)]="estabelecimento.telefone">
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit"
                  [disabled]="cadastroAndamento || formEstabelecimento.invalid">
            Cadastrar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
