.corpoTela {
    width: 100%;
    min-height: 100vh;
    background-color: gray;
  }
.espaco{
  background-color: black;
  height: 520px;
  width: 520px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}
.fundoCadastro {
  background-color: black;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}
.cores{
  color: white;
}
.buttons{
  background-color: black;
  color: black;
}
.form-row {
  display: flex;
  gap: 24px;
}
.centered-field {
  align-self: center;
  width: 48%;
  max-width: 388px;
}
.button-container {
  display: flex;
  justify-content: center;
}

.form-row mat-form-field {
  flex: 1;
}

::ng-deep .mat-input-element {
  color: white !important;
}

::ng-deep .mat-input-element::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}


::ng-deep input:-webkit-autofill,
::ng-deep input:-webkit-autofill:hover,
::ng-deep input:-webkit-autofill:focus,
::ng-deep input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px #000 inset !important;

  -webkit-text-fill-color: white !important;

  transition: background-color 5000s ease-in-out 0s;
}

::ng-deep .mat-form-field-appearance-outline .mat-label,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline,
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: white !important;
}
